
<div class="settings-side bg-white shadow-sm mb-4 mb-lg-0">
  <div class="list-group list-group-flush">
    <%= sidebar_link_to 'Home', user_dashboard_root_path %>
    <%= sidebar_link_to 'Images', user_dashboard_images_path %>
    <%= sidebar_link_to 'Payments', user_dashboard_payments_path %>
    <%= sidebar_link_to 'Account', user_dashboard_accounts_path %>
  </div>
</div>